{% set groups={
  'games':['sport-blue','sport-red','sport-yellow','sport-white','sport-tennis'],
  'movies':['pirate-captain','pirate-sharpshooter','pirate-cook'],
  'tv':['pirate-swordsman','pirate-captain','pirate-medic','detective-blue','detective-red','detective-cap'],
  'books':['pirate-navigator','pirate-medic','pirate-swordsman','detective-green','detective-purple','detective-blond'],
  'music':['rapper-tracksuit','rapper-cap','rapper-hoodie','rapper-bucket','rapper-shades'],
  'cards':['detective-blue','detective-red','detective-cap','detective-green','detective-purple','detective-blond'],
  'more':['pirate-sharpshooter','pirate-cook','pirate-captain','detective-blue','detective-red','detective-green']
} %}
{% set newcomers=['falconer-ranger','profession-baker','profession-medic','profession-builder','profession-mechanic','profession-office','profession-beekeeper','profession-explorer','profession-diver','profession-birdkeeper','profession-smith','class-postman','class-chef','class-miner','class-courier'] %}
<span class="regal-helper-set" data-helper-set aria-hidden="true">{% for character in groups.get(key,groups['more']) + newcomers %}<span class="regal-helper helper-{{ character }}" data-character="{{ character }}" data-preferred-theme="{{ {'games':'sport','movies':'pirate','tv':'detective','books':'falconer','music':'rapper','cards':'profession','more':'class'}.get(key,'class') }}" aria-hidden="true">{% include '_sport_sprite_helper.html' %}</span>{% endfor %}</span>
